version: "3.8"

services:
  app:
    image: mcr.microsoft.com/devcontainers/python:1-3.12-bullseye
    volumes:
      - ..:/workspaces:cached
    command: sleep infinity
    depends_on:
      - db

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: hi5304
      POSTGRES_USER: hi5304_user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
